scania_truck/
scania_truck_packages.egg-info/
.tox/
artifacts/data/processed/stage_1_initial_processing/preprocessed_test_data.csv
artifacts/data/processed/stage_1_initial_processing/preprocessed_train_data.csv
artifacts/data/processed/stage_3_final_processing/processed_test_data.csv
artifacts/data/processed/stage_3_final_processing/processed_train_data.csv
artifacts/data/raw/test_data_1.csv
artifacts/data/raw/test_data_2.csv
artifacts/data/raw/test_data_3.csv
artifacts/data/raw/train_data_1.csv
artifacts/data/raw/train_data_2.csv
artifacts/data/raw/train_data_3.csv
artifacts/data/processed/stage_2_validation/validated_stage_1_train_data.csv
artifacts/data/train_test/test.csv
artifacts/data/train_test/train.csv
artifacts/model/hp_tuned_model/final_estimator.joblib
artifacts/model/hp_tuned_model/stacking_classifier.joblib
artifacts/model/hp_tuned_model/voting_classifier.joblib
artifacts/model/champion_model.joblib
artifacts/preprocessor/preprocessor.joblib