pandas
numpy
matplotlib
seaborn
scikit-learn
mysqlclient
pyyaml
joblib
python-box
Flask-Session==0.5.0
# flask
mlflow
dagshub
dvc
dvc[gdrive]
dvc[s3]
GitPython
pytest
pytest-mock
deprecation
plotly
flake8
autopep8
nbformat
tox
ensure
docker
apache-airflow
optuna
tqdm
xgboost
lightgbm
imbalanced-learn
cassandra-driver
geomet
requests
beautifulsoup4
-e .