pandas
numpy
matplotlib
seaborn
scikit-learn
mysqlclient
pyyaml
joblib
python-box
flask
mlflow
dagshub
dvc
dvc[gdrive]
dvc[s3]
pytest
pytest-mock
deprecation
plotly
flake8
autopep8
nbformat
tox
ensure
docker
optuna
hyperopt
tqdm
xgboost
lightgbm
# catboost
imbalanced-learn
cassandra-driver
geomet
requests
beautifulsoup4
-e .