pandas
numpy
matplotlib
seaborn
scikit-learn
mysqlclient
pyyaml
joblib
python-box
flask
mlflow
dagshub
dvc
dvc[gdrive]
dvc[s3]
pytest
pytest-mock
deprecation
plotly
nbformat
ensure
docker
optuna
hyperopt
tqdm
xgboost
lightgbm
# catboost
imbalanced-learn
cassandra-driver
geomet>=0.1,<0.3
requests
beautifulsoup4
-e .